/* CUSTOM PROPERTIES */

:root {
/* COLOR PROPERTIES */
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-red: hsl(0, 78%, 62%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    --clr-bg: hsl(0, 0%, 98%);
    --clr-title: hsl(234, 12%, 34%);
    --clr-body:hsl(229, 6%, 66%);
/* FONT PROPERTIES */
    --ff-primary: 'Poppins', sans-serif;
}



/* TYPOGRAPHY */

html {
    font-family: var(--ff-primary);
    font-size: 15px;
    color: var(--clr-body);
    font-size: 75%;
}

h1, h3 { color: var(--clr-title); }
header > h1:first-of-type { font-weight: 200; }
header h1 { line-height: 1em; }
header p { font-size: 1.25rem; }
h3 {
    font-size: 1.5rem;
    line-height: 0;
    margin-bottom: 15px;
}



/* GENERAL STYLING */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--clr-bg);
    margin: 30px;
}

header {
    text-align: center;
    max-width: 400px;
}

.feature-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 3px solid;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(97, 98, 158, 0.3);
    padding: 25px;
    max-width: 311px;
    min-width: 250px;
}

.cyan-card { border-color: var(--clr-cyan); }
.red-card { border-color: var(--clr-red); }
.orange-card { border-color: var(--clr-orange); }
.blue-card { border-color: var(--clr-blue); }

.icon {
    width: 60px;
    margin-left: auto;
}



/* MEDIA QUERIES */

@media (min-width: 800px) {
    html { font-size: 100%; }

    header {
        width: 510px;
        text-align: center;
        align-self: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feature-section {
        flex-direction: row;
    }

    .card-smash {
        margin: 30px;
    }
}
